:root  {
	--background:#36393F;
	--shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	--margin:2px;
	--padding:2px;
	--opacity:0.4;
	--column-size: 117px;
	--border:#A5A5A5;

	--buy:rgba(126, 255, 0, 0.5);
	--sell:rgba(255, 0, 0, 0.6);

	--sell-light:rgba(255, 0, 0, 0.2);
	--buy-light:rgba(126, 255, 0, 0.2);

	--player-institucional-br:#FF8A00;
	--player-estrangeiro:#122EB3;

	--abertura:rgba(171, 200, 255, 0.5);
}

*,html, body, button{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
	font-family:  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	scrollbar-width: thin;
	background: none;
	border:none;
	
}
button {
	cursor: pointer;
}

  
html, body {
	position: relative;
	background:var(--background);
	width: 100%;
	height: 100%;
}
body {
	display: grid;
	grid-template-areas: 'header'
						 'main'
						 'footer';
	grid-template-rows: 53px 1fr 102px;
}

h2 {
	text-align: left;
	font-size: 24;
	font-weight: normal;
	line-height: 30px;
}

.chip {
	font-size: 10px;
	min-width: 28px;
	background: rgba(255, 255, 255, 0.46);
	border-radius: 4px;
	text-align: center;
}

.player-institucional-br {
	background-color: var(--player-institucional-br);
  }
  .player-estrangeiro {
	background-color: var(--player-estrangeiro);
  }